<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindbees.stylerapp">


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.mindbees.stylerapp.permission.MAPS_RECEIVE" />
    <permission android:name="com.mindbees.stylerapp.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name=".App.Styler"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".UI.Splash.SplashActivity"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScren">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Landing.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.TabFragments.MorestylersOnline"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.Landing.Registration_extended"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.DETAIL.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mindbees.stylerapp.UI.DETAIL.DetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.DETAIL.MoreDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">

        </activity>
        <activity android:name=".UI.TabFragments.SearchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".UI.HOME.EditBrandsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.HideBlockUsersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.EditTribesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.POPUPS.PopupEditImageGallery"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            >

        </activity>
        <activity android:name=".UI.POPUPS.PopUpWeiight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            >

        </activity>
        <receiver android:name="com.applozic.mobicomkit.broadcast.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="applozic.LAUNCH_APP" />
            </intent-filter>

            <meta-data
                android:name="activity.open.on.notification"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </receiver>
        <activity android:name=".UI.POPUPS.POPUPHEIGHT"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            >

        </activity>
        <activity android:name=".UI.HOME.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.Gallery.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.ProfileEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.TabFragments.FavouriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.AppPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.HOME.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".UI.Landing.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">


        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/customimage"/> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".UI.Landing.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>
        <activity android:name=".UI.POPUPS.PopUpAddTribe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
           >

        </activity>
        <activity android:name=".UI.POPUPS.PopupdeleteTribe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            >

        </activity>
        <activity android:name=".UI.POPUPS.PopupEditImage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            >

        </activity>
        <activity android:name=".UI.HOME.HomeActivity"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">


        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            />
        <activity android:name=".UI.Landing.Registration_2_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>
        <activity android:name=".UI.Landing.Registratiom_3_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>
        <meta-data android:name="activity.open.on.notification"
            android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" /> <!-- NOTE : Do NOT change this value -->

        <meta-data android:name="com.package.name"
            android:value="${applicationId}" /> <!-- NOTE: Do NOT change this, it should remain same i.e 'com.package.name' -->

        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBH5nr9HNrBfWlqsLGeXS1vs5B__8XQv4" />
        <meta-data android:name="com.applozic.application.key"
            android:value="mind-labs36aff0ac3623b88c4ed0d6dddddeb4fff" /> <!-- Applozic Application Key -->
        <meta-data android:name="com.applozic.mobicomkit.notification.smallIcon"
            android:resource="@mipmap/ic_launcher" /> <!-- Launcher white Icon -->

        <meta-data android:name="main_folder_name"
            android:value="@string/default_media_location_folder" /> <!-- Attachment Folder Name -->
        <receiver android:name="com.applozic.mobicomkit.uiwidgets.notification.MTNotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="${applicationId}.send.notification"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:parentActivityName=".UI.HOME.HomeActivity"
            android:theme="@style/Applozic1Theme"
            android:launchMode="singleTask" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.HOME.HomeActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.people.activity.MobiComKitPeopleActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/activity_contacts_list"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme"
            android:windowSoftInputMode="adjustResize">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.FullScreenImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Image"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic_FullScreen_Theme">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ContactSelectionActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelCreateActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelNameActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme">
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelInfoActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobiComAttachmentSelectorActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        </activity>

        <activity android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobicomLocationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:parentActivityName="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:theme="@style/Applozic1Theme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="com.applozic.audiovideo.activity.AudioCallActivityV2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Applozic_FullScreen_Theme"/>

        <activity
            android:name="com.applozic.audiovideo.activity.CallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Applozic_FullScreen_Theme"/>

        <activity
            android:name="com.applozic.audiovideo.activity.VideoActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Applozic_FullScreen_Theme">
        </activity>
        <service android:name=".pushnotification.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".pushnotification.FcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--<service android:name=".UTILS.MyWebService"></service>-->
        <service android:name="com.applozic.mobicomkit.api.conversation.MessageIntentService"
            android:exported="false" />
        <service
            android:name="com.applozic.mobicomkit.uiwidgets.notification.NotificationIntentService"
            android:exported="false" />
        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <service android:name="com.applozic.mobicomkit.api.conversation.ApplozicIntentService"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.conversation.ApplozicMqttIntentService"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.people.UserIntentService"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.conversation.ConversationIntentService"
            android:exported="false" />

        <service android:name="com.applozic.mobicomkit.api.conversation.ConversationReadService"
            android:exported="false" />

        <receiver android:name="com.applozic.mobicomkit.broadcast.TimeChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.applozic.mobicomkit.broadcast.ConnectivityReceiver"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
